/* Clase título*/
.titulo{
    /* Agregamos color de fondo, centramos texto, 
    agregamos fuente y tamaño de fuente*/
    background-color: #ffffcc;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    /* Agregamos borde de 5 pixeles por los 4 lados*/
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    /* Definimos el tipo de borde de cada lado*/
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    /* Definimos el color de cada borde*/
    border-top-color: rgb(228, 219, 192);
    border-right-color: rgb(228, 219, 192);
    border-bottom-color: rgb(228, 219, 192);
    border-left-color: rgb(228, 219, 192);

}