/* Clase general para los parrafos*/
p{
    /* Cambiamos el color de fondo, agregamos borde solido y cambiamos color*/
    background-color: rgb(183, 134, 187);
    border:1px solid rgb(126, 89, 89);
    /* Espacio general entre bordey margen */
    padding: 10px;
    margin: 0;
}

/* Llamaos a la clase parrafo 2*/
.parrafo2{
    /* Dejamos espacio entre parrafos con Margin*/
    margin-top: 30px;
    
}