/* Jonathan Gabriel Morales Torres - 5to Computación "B" - Clave: 10*/
/* Llamamos a la clase caja2*/
.caja2{
    /* Centramos el texto, cambiamos el color de fondo y agregamos borde solido colorido*/
    text-align: center;
    background-color: rgb(143, 153, 153);
    border: 2px solid rgb(184, 189, 175);

    /* Agrega 10 pixeles de margen externo en la parte superior*/
    margin-top: 10px;
    /* Agrega 10 pixeles de margen externo en la parte de la izquierda */
    margin-right: 40px;
    /* Agrega 10 pixeles de margen externo en la parte infierno */
    margin-bottom: 20px;
    /* Agrega 10 pixeles de margen externo en la parte de la derecha */
    margin-left: 60px;

    /* Agregamos espacio general desde adentro*/
    padding: 15px; 
}